### Q1

Name the four built-in data structures in python. Give one examples for each

ANS:

1. List
2. Tuple
3. Set
4. Dictionary

### Q2

State two differences between a list and a tuple in Python.

1. Lists are mutable and tuples are not.
2. Lists are created with square brakets and tuples are created with round brakets.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [13]:
#Make a list containing names of five animals with a variable name animal_list
animal_list = ["lion", "cat", "dog", "mouse", "cow"]

In [4]:
#Print the first two animals
animal_list[:2]

['lion', 'cat']

In [8]:
##Print the last two animals
animal_list[-2:]

['mouse', 'cow']

In [14]:
#Add three extra animals to the variable animal_list
animal_list.extend(["hen","lamb", "rat"])
animal_list

['lion', 'cat', 'dog', 'mouse', 'cow', 'hen', 'lamb', 'rat']

In [ ]:
#Remove the first two animals from the variable animal_list
animal_list.remove("lion")
animal_list.remove("cat")

In [22]:
animal_list

['dog', 'mouse', 'cow', 'hen', 'lamb', 'rat']

In [27]:
#How many animals are in the animal_list?
len(animal_list)

6

In [30]:
#Create a variable animal_set which stores the set of animal_list
animal_set= set(animal_list)

animal_set

{'cow', 'dog', 'hen', 'lamb', 'mouse', 'rat'}

In [31]:
#How many elements are in the animal_set?
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [35]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
# Create a list called first containing only the two first items from suitcase.

first=suitcase[:2]
first

['sunglasses', 'hat']

In [36]:
 #Create a list called middle containing only the two middle items from suitcase.
middle=suitcase[2:4]
middle

['passport', 'laptop']

In [38]:
#Create a list called last made up only of the last two items from suitcase.
last=suitcase[4:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [41]:
values = [20,25,30,40,45,50,55,60,65,70]

values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
Use a tuple when you want to store a fixed set of values that won't change. 
Use a list when you want to store a collection of values that can be modified.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [42]:
region_capital={"Greater Accra":"Accra", "Central":"Cape Coast", "Ashanti":"Kumasi", "Eastern":"Takoradi", "Volta":"Ho"}

In [44]:
#Print out the keys of region_capital
region_capital.keys()

dict_keys(['Greater Accra', 'Central', 'Ashanti', 'Eastern', 'Volta'])

In [45]:
#Print out the values of region_capital
region_capital.values()

dict_values(['Accra', 'Cape Coast', 'Kumasi', 'Takoradi', 'Ho'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [8]:
values = [3,4,5,6,3,4,3,3,5,2,4,2,5,6,1,6]

In [50]:
#What is the total number of elements in values?
len(values)

16

In [10]:
#What is the highest occuring number in the values variable

count_values = {}

for number in values:
    if number in count_values:
        count_values[number] += 1
    else:
        count_values[number] = 1

most_frequent = max(count_values, key=count_values.get)

most_frequent

3

In [56]:
#Convert values into a set and store it into a variable named values_set
values_set= set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [57]:
#How many elements are in the variable values_set?
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [12]:
d={}
for r in range(1,16):
    d[r]=r**2
    
print(d)
print(d.keys())
print(d.values())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225])

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [17]:
x_list=[]
for x in range(11,21):
        x_list.append(x)
x_list

y_list=[]
for y in range(21,31):
        y_list.append(y)
y_list

z_list=[]
for z in range(31,41):
        z_list.append(z)
z_list

xyz_dict={'x':x_list[4],'y':y_list[4],'z':z_list[4]}

xyz_dict

{'x': 15, 'y': 25, 'z': 35}